@import 'base/config';
@import 'base/variables';
@import 'base/mixin';
@import 'components/header';
@import 'components/footer';
@import 'pages/program';
@import 'pages/offciers';
@import 'pages/joinus';


body {
    background-color: $primary-bg;
    display: flex;
    flex-direction: column;
}

main {
    @include align-flex;
    flex-direction: column;
}

h1 {
    font-family: PoppinsBold;
    font-size: clamp(40px, 2.1vw, 64px);
    line-height: 130%;
    text-align: center;
}

h2 {
    font-family: PoppinsSemiBold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: PoppinsMedium;
    color: $text-dark;
    line-height: 130%;
}

.button--red {
    background-color: $pels--red;
    color: $text-white;
    padding: 22px 60px;
    border: none;
    border-radius: 999px;
    font-size: clamp(20px, 2vw, 24px);
    font-family: PoppinsSemiBold;
    letter-spacing: 13%;
    cursor: pointer;
    text-decoration: none;
    // outline: none;

    &:active, &:focus, &:hover {
        background-color: darken($pels--red, 10%);      
        // outline: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    @include WandH(100vw, 100vh);
    background-color: #000000;
    opacity: 70%;
    visibility: hidden;
}

.program--card {
    background-color: #ffffff;
    border-radius: 12px;
    border-left: 1px solid $pels--red;
    box-shadow: 4px 4px 3px lighten(#000000, 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    display: none;

    .status {
        color: $upcoming;
        font-size: 14px;
        font-family: PoppinsSemiBold;
        letter-spacing: 10%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    img {
        @include WandH(180px, 120px);
        border-radius: 10px;
        object-fit: cover;
        background-color: lighten(#000000, 75%);
        margin-bottom: 30px;
    }

    .title {
        font-size: 20px;
        font-family: PoppinsBold;
        margin-bottom: 10px;
    }

    .organizer {
        font-size: 16px;
        font-family: PoppinsRegular;
        margin-bottom: 5px;
    }

    .meta {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 27px;
        
        p {
            font-size: 16px;
            font-family: PoppinsRegular;
        }

        path {
            fill: #000000;
        }

        .location {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .time {
        font-size: 16px;
        font-family: PoppinsRegular;
        margin-bottom: 33px
    }
}

.program--modal {
    display: none;
    margin: 100px;
    max-width: 505px;
    max-height: 740px;

    article {
        overflow: auto;
        @include WandH(100%, 100%);
        background-color: #ffffff;
        border-radius: 8px;

        border-left: 2px solid $event-purple;
        padding: 25px 54px;

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 27px;

            .organizer {
                font-size: 20px;
                font-family: PoppinsBold;
                letter-spacing: 5%;
            }
        }

        img {
            @include WandH(100%, 250px);
            border-radius: 18px;
            object-fit: cover;
            background-color: lighten(#000000, 75%);
            margin-bottom: 25px;
        }

        .first {
            display: flex;
            align-items: center;
            gap: 116px;
            margin-bottom: 34px;;

            .title {
                font-size: 22px;
                font-family: PoppinsBold;
                color: $event-purple;
            }

            .status{
                font-size: 16px;
                font-family: PoppinsRegular;
                color: $completed;
            }
        }

        .meta {
            display: flex;
            align-items: center;
            gap: 48px;
            margin-bottom: 38px;

            p {
                font-size: 16px;
                font-family: PoppinsMedium;
            }

            path {
                color: $event-purple;
            }
    
            .location {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .desc {
			max-height: 220px;
			font-size: 16px; 
            font-family: PoppinsRegular;
            line-height: 160%;
            margin-bottom: 19px;
        }
    }
}

.officer--card {
    @include vertical-gap(15px);
    background-color: $officer-bg;
    width: 260px;
    height: 263px;
    border: 1px solid #e0e0e0;
    box-shadow: 6px 4px 3px lighten(#000000, 75%);
    border-radius: 12px;

    img{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
    }

    .name {
        font-size: 18px;
        font-family: PoppinsSemiBold;
        color: $text-dark;
    }

    .position {
        color: $officer-red;
        font-size: 14px;
        font-family: PoppinsMedium;
    }

    @media (min-width:$breakpoint-desktop) {
        width: 300px;
        height: 326px;

        img {
            @include WandH(150px, 150px)
        }

        .name {
            font-size: 20px;
        }

        .position {
            font-size: 16px;
        }
    }
}

