@use '../base/' as base;

.home {
    gap: clamp(1.875rem, 5vw, 6.25rem);
    .hero {
        position: relative;
        background-image: url('https://res.cloudinary.com/dvcpaters/image/upload/background-img_tkofwa.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        padding: clamp(2rem, 10vw, 5rem);
        @include base.centerDiv();

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, .5);
            z-index: 1;
        }

        &__content {
            @include base.verticalGap(0rem);
            position: relative;
            z-index: 2;

            h1 {
                color: base.$h1--white;
                margin-bottom: 1.25rem;
            }

            p {
                @include base.verticalGap(clamp(0.1rem, 0.75vw, 1rem));
                color: base.$p--light;
                font-size: clamp(1.375rem, 2vw, 1.75rem);
                font-family: base.$poppinsSemiBold;
                width: clamp(20rem, 45vw, 59.375rem);

                span {
                    font-size: clamp(1rem, 2vw, 1.5rem);
                    font-family: base.$poppinsRegular;
                    padding: 1rem;
                }
            }

        }
    }

    .programs {
        h2 {
            margin-bottom: 1.25rem;
        }
        &__topdiv {
            margin-top: clamp(1.875rem, 2.5vw, 3.75rem);
            @include base.verticalGap(clamp(1.875rem, 2.5vw, 6.25rem));

            @media (min-width: base.$breakpoint-desktop) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__container {
            @include base.verticalGap(2.5rem);
        }
        
        &__title {
            font-size: clamp(2rem, 2vw, 4rem);
            font-family: base.$poppinsBold;
        }

        &__title--workshops {
            color: base.$pels--red
        }

        &__title--events {
            color: base.$pels--purple
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 2.5rem;
        
            @media (min-width: base.$breakpoint-tablet) {
                display: flex;
                justify-content: center;
            }
        }

    }

    .officers {
        margin: 0;
        margin-bottom: clamp(1.875rem, 5vw, 6.25rem);;
        @include base.verticalGap(0);

        &__title {
            margin-bottom: 1.25rem;
        }

        &__desc {
            margin-bottom: clamp(1.25rem, 2vw, 1.875rem);
            padding: 0 1.25rem;
        }
        &__container {
            display: grid;
            gap: 2.1875rem;
            margin: 0 0 1.875rem 0;

            @media (min-width: base.$breakpoint-tablet) {
                grid-template-columns: repeat(2, 1fr);
                gap: clamp(2.5rem, 4vw, 4.375rem);

                grid-template-areas:
                "p p"
                "e i";
                place-items: center;


                .officer__card.P, .officers__skeleton.P {
                    grid-area: p;
                }
                
                .officer__card.E, .officers__skeleton.E {
                    grid-area: e;
                }
                
                .officer__card.I, .officers__skeleton.I {
                    grid-area: i;
                }
            }

            @media (min-width: base.$breakpoint-desktop) {
                margin-top: 6rem;
                gap: 5.625rem;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "e p i";
                align-items: end; /* so I can offset P */
             
                .officer__card.P, .officers__skeleton.P {
                    transform: translateY(-5.625rem); /* raise center card */
                }
            }
        }

        
    }

}