@use '../base/' as base;

.main__home {
    
    .hero {
        position: relative;
        background-image: url('../../assets/images/background-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 100vh;
        padding: 2.5rem 0;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, .5);
            z-index: 1;
        }

        &__content {
            @include base.verticalGap(0rem);
            position: relative;
            z-index: 2;

            h1 {
                color: base.$h1--white;
                margin-bottom: 1.25rem;
            }

            p {
                @include base.verticalGap(0.31rem);
                color: base.$p--light;
                font-size: clamp(1.375rem, 2vw, 1.75rem);
                font-family: base.$poppinsSemiBold;
                width: clamp(25rem, 45vw, 59.375rem);
                margin-bottom: 2.5rem;

                span {
                    font-size: clamp(1.125rem, 2vw, 1.5rem);
                    font-family: base.$poppinsRegular;
                }
            }

        }
    }

    .programs {
        .programs__topdiv {
            margin-top: clamp(1.875rem, 2.5vw, 3.75rem);
            @include base.verticalGap(clamp(1.875rem, 2.5vw, 6.25rem));

            @media (min-width: base.$breakpoint-desktop) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .programs__container {
            @include base.verticalGap(2.5rem);
        }
        
        .programs__title {
            font-size: clamp(1.75rem, 3vw, 2rem);
            font-family: base.$poppinsBold;
        }

        .programs__title--workshops {
            color: base.$pels--red
        }

        .programs__title--events {
            color: base.$pels--purple
        }

        .programs__content {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 2.5rem;
        
            @media (min-width: base.$breakpoint-tablet) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

    }

    .officers {
        margin-bottom: clamp(1.875rem, 5vw, 6.25rem);;
        @include base.verticalGap(0);

        .officers__title {
            margin-bottom: 1.25rem;
        }

        .officers__desc {
            margin-bottom: 1.875rem;
        }
        .officers__container {
            display: grid;
            gap: 2.1875rem;
            margin: 6.25rem 0 1.875rem 0;

            @media (min-width: base.$breakpoint-tablet) {
                grid-template-columns: repeat(2, 1fr);
                gap: 4.375rem;

                grid-template-areas:
                "p p"
                "e i";
                place-items: center;


                .officer__card.P {
                    grid-area: p;
                }
                
                .officer__card.E {
                    grid-area: e;
                }
                
                .officer__card.I {
                    grid-area: i;
                }

            }

            @media (min-width: base.$breakpoint-desktop) {
                gap: 90px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "e p i";
                align-items: end; /* so we can offset P */
             
                .officer__card.P {
                    transform: translateY(-5.625rem); /* raise center card */
                }
            }
        }

        
    }

}