@use "../base/" as base;

.join {
    margin: 3.75rem; 
    gap: clamp(1.875rem, 3vw, 3.125rem); 

    h2 {
        font-size: clamp(1.5rem, 3vw, 2rem); 
    }

    &__member {
        @include base.verticalGap(0.9375rem); 

        p {
            font-size: clamp(1.25rem, 3vw, 1.5rem); 
            width: clamp(30.625rem, 40vw, 50rem); 
            text-align: center;
            color: base.$p--dark;
            margin-bottom: 0.625rem; 
        }

        .member__link {
            margin-top: 0.625rem; 
            color: base.$pels--red;
            text-decoration: none;
            font-family: base.$poppinsSemiBold;
            font-size: clamp(1rem, 2vw, 1.375rem); 

            &:active,
            &:focus,
            &:hover {
                color: darken(base.$pels--red, 10%);
            }
        }
    }

    &__secondary {
        p {
            font-size: clamp(1rem, 2vw, 1.375rem);
            margin-top: 0.9375rem; 

            a {
                font-family: base.$poppinsSemiBold;
                text-decoration: none;
                color: base.$pels--red;
                cursor: pointer;

                &:active,
                &:focus,
                &:hover {
                    color: darken(base.$pels--red, 10%);
                }
            }
        }
    }
}
