@use "../base/" as base;

.join{
    margin: 60px;
    gap: clamp(50px, 4vw, 80px);

    .hero {
        @include base.verticalGap(15px);
    
        p {
            font-size: clamp(20px, 3vw, 24px);
            width: clamp(490px, 40vw, 800px);
            text-align: center;
            color: base.$p--dark;
            margin-bottom: 10px;
        }

        .member__link {
            margin-top: 10px;
            color: base.$pels--red;
            text-decoration: none;
            font-family: base.$poppinsSemiBold;
            font-size: clamp(16px, 2vw, 22px);

            &:active, &:focus, &:hover {
                color: darken(base.$pels--red, 10%);      
                // outline: none;
            }
        }

    }

    .why {
        align-self: start;
        margin-left: clamp(0px, 10vw, 200px);

        h2 {
            text-align: start;
        }

        ul {
            font-size: clamp(20px, 3vw, 24px);
            font-family: base.$poppinsMedium;
            color: base.$p--dark;
            margin-top: 30px;
        }

    }

    .how {
        p {
            font-size: clamp(16px, 2vw, 22px);
            margin-top: 15px;

            a {
                font-family: base.$poppinsSemiBold;
                text-decoration: none;
                color: base.$pels--red;
                cursor: pointer;

                &:active, &:focus, &:hover {
                    color: darken(base.$pels--red, 10%);      
                    // outline: none;
                }
            }
        }
    }
    
}
