@mixin vertical-gap($gap) {
    @include align-flex;
    flex-direction: column;
    gap: $gap;
}

.officers {
    margin: 60px;
    gap: 100px;

    &__section {
        @include vertical-gap(80px);
    }

    &__senior {
        @include vertical-gap(40px);

        @media (min-width:$breakpoint-desktop) {
            gap: 80px;
        }

        &--vice {
            @include vertical-gap(40px);

            @media (min-width:$breakpoint-tablet) {
                flex-direction: row;
            }

            @media (min-width:$breakpoint-desktop) {
                gap: 80px;
            }
        }

        &--board {
            @include vertical-gap(40px);

            @media (min-width:$breakpoint-tablet) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width:$breakpoint-desktop) {
                gap: 80px;
            }
        }
    }

    &__junior {
        @include vertical-gap(40px);

        @media (min-width:$breakpoint-tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$breakpoint-desktop) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 80px;
        }
    }

}