@use "../base/" as base;

.program {
    .hero {
        margin: 3.75rem 0 2.375rem 0;
    }

    .tabs {
        width: 100%;
        border-bottom: 0.125rem solid #d9d9d9; 
        margin-bottom: clamp(3rem, 4.5vw, 4.688rem); 
        display: flex;
        justify-content: center;
        gap: 0.625rem; 
    
        &__button {
            width: clamp(18.75rem, 30vw, 37.5rem);
            padding: clamp(2rem, 3vw, 6.875rem) 0;
            background: none;
            border: none;
            color: base.$pels--gray;
            font-size: clamp(1.2rem, 3vw, 2.75rem); 
            font-family: base.$poppinsBold;
            letter-spacing: 0.16em;
            cursor: pointer;
        }
    
        &__workshops:hover {
            border-bottom: 0.25rem solid base.$pels--red;
            color: base.$pels--red;
        }
    
        &__events:hover {
            border-bottom: 0.25rem solid base.$pels--purple;
            color: base.$pels--purple;
        }
    
        &__workshops--active {
            border-bottom: 0.25rem solid base.$pels--red;
            color: base.$pels--red;
        }
    
        &__events--active {
            border-bottom: 0.25rem solid base.$pels--purple;
            color: base.$pels--purple;
        }
    }
    

    .programs__container {
        @include base.verticalGap(clamp(3rem, 3vw, 4rem)); 
        margin-bottom: 4.875rem; 
    
        h2 {
            font-size: clamp(2rem, 4vw, 3rem);
        }
    
        .programs__content {
            display: grid;
            grid-template-columns: 1fr;
            gap: clamp(1.875rem, 5vw, 4.375rem); 
    
            @media (min-width: base.$breakpoint-tablet) {
                grid-template-columns: repeat(2, 1fr);
                // gap: 3.75rem; // 60px
            }
    
            @media (min-width: base.$breakpoint-desktop) {
                grid-template-columns: repeat(4, 1fr);
                gap: clamp(1.875rem, 3vw, 4.375rem); 
            }
        }
    
        .seemorebutton {
            font-size: clamp(1.25rem, 3vw, 1.5rem); 
            font-family: base.$poppinsSemiBold;
            letter-spacing: 0.13em; // 13%
            background: none;
            border: none;
            cursor: pointer;
            // display: flex; //this is set in index.js
            align-items: center;
            gap: 0.5rem; 
        }
    
        .seemorebutton--workshops {
            color: base.$pels--red;
        }
    
        .seemorebutton--events {
            color: base.$pels--purple;
        }

        .hidden-card {
            display: none !important;
        }
    }

    .programs__empty {
        color: base.$pels--dark;
        font-size: clamp(1rem, 2vw, 2rem);
    }
    
}