@use '../base' as base;

footer {
    @include base.centerDiv();
    background-color: base.$footer-bg;
    flex-direction: column;
    padding: 1.75rem 1.875rem;

    .footerContent {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 4.5rem;
        padding: 3.25rem 3.75rem 3.125rem 3.75rem;

        &__desc {
            @include base.centerDiv();
            flex-direction: column;
            gap: 2.5rem;
            width: 28.125rem;

            img {
                width: 7.5rem;
                height: 8.375rem;
            }

            p {
                color: base.$p--light;
                font-size: 1.25rem;
                font-family: base.$poppinsMedium;
                text-align: center;
            }
        }

        &__socials {
            @include base.centerDiv();
            gap: 1.25rem;

            .icon {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
                cursor: pointer;
                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem;
                    border: 1px solid base.$pels--white;
                    border-radius: 50%;
                    transition: border-color 0.3s;

                    &:hover,
                    &:focus,
                    &:active {
                        border: 2px solid base.$pels--red;
                        outline: none;
                        outline: 1px solid #b71933;
                        outline-offset: 2px;
                    }

                    &:hover path, &:focus path{
                        fill: base.$pels--red;
                    }

                    svg{
                        width: 100%;
                        height: 100%;
                    }

                    &#groupme:hover path:nth-child(2),
                    &#groupme:hover path:nth-child(3),
                    &#groupme:focus path:nth-child(2),
                    &#groupme:focus path:nth-child(3) {
                        fill: #1e1e1e;
                    }

                    // &#groupme:focus svg path:nth-child(2),
                    // &#groupme:focus svg path:nth-child(3) {
                    //     fill: #1e1e1e;
                    // }
                }   
            }

            
        }

        &__contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.625rem;

            p{
                font-size: 1.25rem;
                font-family: base.$poppinsMedium;
                color: base.$p--light;
            }

        }
         
    }

    .copyright {
        color: #f8f8f8;
        font-size: 1rem;
        font-family: base.$poppinsRegular;
    }

    .visually-hidden {
        display: none;
    }

    @media (min-width: base.$breakpoint-tablet) {
        .footerContent {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: clamp(3.4375rem, 10.5vw, 23.75rem); // 55px–380px
          
            &__desc {
              gap: clamp(0.625rem, 0.6vw, 1.6875rem); // 10px–27px
              width: clamp(14.375rem, 17vw, 25rem);   // 230px–400px
          
              img {
                width: clamp(3rem, 3vw, 5.5rem);      // 48px–88px
                height: clamp(3rem, 3.3vw, 6.125rem); // 53px–98px
              }
          
              p {
                font-size: clamp(0.75rem, 1vw, 1.25rem); // 12px–20px
              }
            }
          
            &__socials {
              .icon {
                width: 2.8rem;
                height: 2.8rem;
                
              }
            }
          
            &__contact {
              gap: clamp(0.625rem, 0.6vw, 1.6875rem); // 10px–27px
          
              p {
                font-size: clamp(0.75rem, 1vw, 1.25rem); // 12px–20px
              }
            }
          }
          
          .copyright {
            font-size: 0.875rem; // 14px
          }
             
    }
}





