@use '../base/' as base;

header {
    background-color: base.$navbar-bg;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem clamp(3rem, 6vw, 8.125rem);
    position: relative;

    .logo {
        width: clamp(3.8rem, 5.8vw, 4.875rem);
        height: clamp(4rem, 6.1vw, 5.5rem);    
    }

    nav{
        ul {
            display: flex;
            list-style: none;
            font-family: PoppinsSemiBold;
        }
        
        li a {
            text-decoration: none;
            color: base.$navlink-text;
            letter-spacing: .5em;
            cursor: pointer;

            &:hover, &:active, &:focus {
                color: base.$navlink-text-active;
            }
        }
    } 

    .navbar {
        display: none;
        justify-content: center;

        ul {
            gap: clamp(3.125rem, 4vw, 6.25rem);
        }
        a {
            font-size: clamp(0.9375rem, 1.5vw, 1.5rem);
            letter-spacing: .15em;
        }
    }


    @media (min-width: base.$breakpoint-tablet) {      
        .navbar {
            display: flex;
        }    
    }

}
    















