@use '../base/' as base;


.login__form {
    @include base.leftJustifyColumn();
    box-shadow: 4px 5px 4px base.lighten(#000000, 75%);
    border: 1px solid base.lighten(#000000, 75%);
    border-radius: 0.4rem;
    gap: 0.75rem;
    padding: 30px clamp(1.2rem, 10vw, 1.875rem);

    h3 {
        font-size: 1.5rem;
        font-family: base.$poppinsRegular;
        letter-spacing: .05em;
    }

    .line {
        height: 1px;
        width: 100%;
        background-color: base.lighten(base.$pels--gray, 40%);
    }

    .form {
        width: clamp(16.75rem, 30vw, 25rem);
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        &__field {
            display: flex;
            flex-direction: column;   
            gap: 0.625rem;
        }

        &__label {
            font-family: base.$poppinsRegular;
            font-size: clamp(1rem, 2vw, 1.3rem);
        }

        &__input {
            font-size: clamp(0.9rem, 1.5vw, 1rem);
            font-family: base.$poppinsRegular;
            letter-spacing: 0.08em;
            padding: 0.3125rem 0.625rem;
            border: 1px solid base.lighten(base.$pels--gray, 30%);
            border-radius: 5px;
            background: none;
            outline: none;
        }

        &__message {
            font-size: clamp(0.875rem, 2vw, 1rem);
        }

        &__button {
            color: base.$button-text;
            background-color: base.$button-bg--red;
            padding: clamp(0.5rem, 1.5vw, 0.6rem);
            border: none;
            border-radius: 0.9375rem;
            font-size: clamp(1rem, 2vw, 1.1rem);
            font-family: base.$poppinsSemiBold;
            letter-spacing: .13em;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            white-space: nowrap;
        }

        &__button:hover, &__button:focus, &__button:active { 
            background-color: base.$button-bg--red-active;
        }
    }

    .logo {
        width: clamp(3.8rem, 5.8vw, 4.875rem);
        height: clamp(4rem, 6.1vw, 5.5rem);   
        align-self: center;
    }
}
