@use '../base/variables' as vars;

.mobileMenu {
    background-color: vars.$mobilemenu-bg;
    width: 100%;
    padding: 3.125rem 0; // 50px
    border-top: 0.0625rem solid #e0e0e0; // 1px
    top: 100%; // -450px
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    z-index: 3;

    ul {
        flex-direction: column;
        align-items: center;
        gap: clamp(1.2rem, 0.8vw, 1.875rem); // 30px
        font-size: 1rem;
    }

    &.active {
        visibility: visible;
        pointer-events: auto;
        transition: opacity 0.3s ease-in-out, visibility 0s;
        opacity: 1;
    }

    @media (min-width: vars.$breakpoint-tablet) {
        display: none;
    }
}

