@use '../base/' as base;

.officer__card {
    @include base.verticalGap(clamp(0.625rem, 1.2vw, 1rem));
    background-color: base.$officer-card-bg;
    width: 16.25rem; // 260px
    height: 16.4375rem; // 263px
    border: 1px solid #e0e0e0;
    box-shadow: 0.375rem 0.25rem 0.1875rem base.lighten(#000000, 75%);
    border-radius: 0.75rem;

    .officer__image {
        width: 8.125rem;
        height: 8.125rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .officer__name {
        font-size: clamp(1rem, 1.3vw, 1.25rem);
        font-family: base.$poppinsSemiBold;
        color: base.$officer-card-text--black;
    }

    .officer__position {
        color: base.$pels--dark;
        font-size: clamp(0.875rem, 1.1vw, 1rem); 
        font-family: base.$poppinsMedium;
    }

    .officer__linkedin {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: base.$officer-card-text--red;
        font-family: base.$poppinsMedium;
        text-decoration: none;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }

        &:active, &:focus, &:hover {
            color: base.darken(base.$pels--red, 10%);
        }
    }

    @media (min-width: base.$breakpoint-desktop) {
        width: 18.75rem; 
        height: 19rem; 

        img {
            width: 9.375rem;
            height: 9.375rem;
        }
    }
}
