@mixin centerDiv() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin verticalGap($gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $gap;
}

