body{
    background-color: #f8f8f8;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* z-index: 10; */
}

@font-face {
    font-family: bold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: semiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: regular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

header {
    background-color: #1e1e1e;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px clamp(48px, 6vw,130px);
}

.logo {
    width: clamp(70px, 6vw, 78px);
    height: clamp(78px, 6.1vw, 88px);
}

nav ul {
    display: flex;
    list-style: none;
    font-family: semiBold;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 5%;
    cursor: pointer;
}

nav li a:hover {
    color: #b71933;
}

.hamburger {
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    justify-self: end;
}

.hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    transition: .2s ease-in-out;
    transform: translate(-50%, -50%);
}

.hamburger span:nth-child(1) {
    top: 25%;
}

.hamburger span:nth-child(3) {
    top: 75%;
}

.hamburger.active span:nth-child(1) {
    top: 50%;
    transform:  translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.mobileMenu {
    background-color: #222222;
    width: 100%;
    padding: 50px;
    border-top: 1px solid #e0e0e0;
    top: -450px;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: .3s ease-in-out;
    z-index: -1;
    visibility: hidden;
}

.mobileMenu.active {
    visibility: visible;
    top: 138px;
}

.mobileMenu ul {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

.navbar {
    display: none;
    justify-content: center;
}

.navbar ul {
   gap: clamp(50px,  4vw, 100px);
}

.navbar a {
    font-size: clamp(15px, 1.5vw, 24px);
    letter-spacing: 15%;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    padding: 28px 0;
}

.footerContent {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 72px;
    padding: 60px;
    padding-top: 52px;
    padding-bottom: 50px;
}

.footerContent__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 450px;
}

.footerContent__desc img {
    width: 120px;
    height: 134px;
}

.footerContent__desc p {
    font: 20px medium;
    text-align: center;
}

.footerContent__socials {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footerContent__socials .icon {
    width: 50px;
    height: 50px;
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.footerContent__socials .icon svg{
    width: 100%;
    height: 100%;
}

.footerContent__socials .icon:hover {
    border-color: #b71933;
}

.footerContent__socials .icon:hover path{
    fill: #b71933;
}

#groupme:hover path:nth-child(2), #groupme:hover path:nth-child(3) {
    fill: #1e1e1e;
}

.footerContent__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font: 20px medium;
}

.copyright {
    color: #f8f8f8;
    font: 16px regular;
}

@media screen and (min-width: 768px) {
    .hamburger{
        display: none;
    }

    .mobileMenu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .footerContent {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: clamp(200px, 10.5vw, 380px);
    }

    .footerContent__desc {
        gap: clamp(10px, 0.6vw, 27px);
        width: clamp(230px, 15vw, 375px);
    }
    
    .footerContent__desc img {
        width: clamp(48px, 3vw, 88px);
        height: clamp(53px, 3.3vw, 98px);
    }
    
    .footerContent__desc p {
        font-size: clamp(12px, 0.8vw, 16px);
    }

    .footerContent__socials .icon {
        width: 40px;
        height: 40px;
        padding: 6px;

    }

    .footerContent__contact {
        gap: 5px;
        font-size: clamp(12px, 1vw, 16px);
    }

    .copyright {
        font-size: 14px;
    }
} 