*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} 
@font-face {
  font-family: PoppinsBold;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
body {
  background-color: #f8f8f8;
}

h1, h2, p {
  line-height: 1.3;
}

header {
  background-color: #1e1e1e;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem clamp(3rem, 6vw, 8.125rem);
  position: relative;
}
header .logo {
  width: clamp(4.375rem, 6vw, 4.875rem);
  height: clamp(4.875rem, 6.1vw, 5.5rem);
}
header nav ul {
  display: flex;
  list-style: none;
  font-family: PoppinsSemiBold;
}
header nav li a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5em;
  cursor: pointer;
}
header nav li a:hover, header nav li a:active, header nav li a:focus {
  color: #b71933;
}
header .navbar {
  display: none;
  justify-content: center;
}
header .navbar ul {
  gap: clamp(3.125rem, 4vw, 6.25rem);
}
header .navbar a {
  font-size: clamp(0.9375rem, 1.5vw, 1.5rem);
  letter-spacing: 0.15em;
}
@media (min-width: 768px) {
  header .navbar {
    display: flex;
  }
}

.hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  justify-self: end;
  background: none;
  border: none;
}
.hamburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.25rem;
  width: 100%;
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}
.hamburger span:nth-child(1) {
  top: 25%;
}
.hamburger span:nth-child(3) {
  top: 75%;
}
.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.mobileMenu {
  background-color: #222222;
  width: 100%;
  padding: 3.125rem;
  border-top: 0.0625rem solid #e0e0e0;
  top: 100%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.mobileMenu ul {
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  font-size: 1.5rem;
}
.mobileMenu.active {
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, visibility 0s;
  opacity: 1;
}
@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  flex-direction: column;
  padding: 1.75rem 1.875rem;
}
footer .footerContent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 4.5rem;
  padding: 3.25rem 3.75rem 3.125rem 3.75rem;
}
footer .footerContent__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 28.125rem;
}
footer .footerContent__desc img {
  width: 7.5rem;
  height: 8.375rem;
}
footer .footerContent__desc p {
  color: #e0e0e0;
  font-size: 1.25rem;
  font-family: poppinsMedium;
  text-align: center;
}
footer .footerContent__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
footer .footerContent__socials .icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
}
footer .footerContent__socials .icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #f8f8f8;
  border-radius: 50%;
  transition: border-color 0.3s;
}
footer .footerContent__socials .icon a:hover, footer .footerContent__socials .icon a:focus, footer .footerContent__socials .icon a:active {
  border: 2px solid #b71933;
  outline: none;
  outline: 1px solid #b71933;
  outline-offset: 2px;
}
footer .footerContent__socials .icon a:hover path, footer .footerContent__socials .icon a:focus path {
  fill: #b71933;
}
footer .footerContent__socials .icon a svg {
  width: 100%;
  height: 100%;
}
footer .footerContent__socials .icon a#groupme:hover path:nth-child(2), footer .footerContent__socials .icon a#groupme:hover path:nth-child(3), footer .footerContent__socials .icon a#groupme:focus path:nth-child(2), footer .footerContent__socials .icon a#groupme:focus path:nth-child(3) {
  fill: #1e1e1e;
}
footer .footerContent__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
footer .footerContent__contact p {
  font-size: 1.25rem;
  font-family: poppinsMedium;
  color: #e0e0e0;
}
footer .copyright {
  color: #f8f8f8;
  font-size: 1rem;
  font-family: poppinsRegular;
}
footer .visually-hidden {
  display: none;
}
@media (min-width: 768px) {
  footer .footerContent {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: clamp(3.4375rem, 10.5vw, 23.75rem);
  }
  footer .footerContent__desc {
    gap: clamp(0.625rem, 0.6vw, 1.6875rem);
    width: clamp(14.375rem, 17vw, 25rem);
  }
  footer .footerContent__desc img {
    width: clamp(3rem, 3vw, 5.5rem);
    height: clamp(3rem, 3.3vw, 6.125rem);
  }
  footer .footerContent__desc p {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
  }
  footer .footerContent__socials .icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  footer .footerContent__contact {
    gap: clamp(0.625rem, 0.6vw, 1.6875rem);
  }
  footer .footerContent__contact p {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
  }
  footer .copyright {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=main.css.map */