*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} 
@font-face {
  font-family: PoppinsBold;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
body {
  background-color: #f8f8f8;
}

h1, h2, p {
  line-height: 1.3;
  text-align: center;
}

h1 {
  font-family: poppinsBold;
  font-size: clamp(2.5rem, 4vw, 4rem);
}

h2 {
  font-family: poppinsSemiBold;
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

p {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-family: poppinsRegular;
  color: #333333;
}

main {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 5vw, 6.25rem);
}

.no-scroll {
  overflow: hidden;
}

header {
  background-color: #1e1e1e;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem clamp(3rem, 6vw, 8.125rem);
  position: relative;
}
header .logo {
  width: clamp(4.375rem, 6vw, 4.875rem);
  height: clamp(4.875rem, 6.1vw, 5.5rem);
}
header nav ul {
  display: flex;
  list-style: none;
  font-family: PoppinsSemiBold;
}
header nav li a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5em;
  cursor: pointer;
}
header nav li a:hover, header nav li a:active, header nav li a:focus {
  color: #b71933;
}
header .navbar {
  display: none;
  justify-content: center;
}
header .navbar ul {
  gap: clamp(3.125rem, 4vw, 6.25rem);
}
header .navbar a {
  font-size: clamp(0.9375rem, 1.5vw, 1.5rem);
  letter-spacing: 0.15em;
}
@media (min-width: 768px) {
  header .navbar {
    display: flex;
  }
}

.hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  justify-self: end;
  background: none;
  border: none;
}
.hamburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.25rem;
  width: 100%;
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}
.hamburger span:nth-child(1) {
  top: 25%;
}
.hamburger span:nth-child(3) {
  top: 75%;
}
.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.mobileMenu {
  background-color: #222222;
  width: 100%;
  padding: 3.125rem;
  border-top: 0.0625rem solid #e0e0e0;
  top: 100%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
  z-index: 3;
}
.mobileMenu ul {
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  font-size: 1.5rem;
}
.mobileMenu.active {
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, visibility 0s;
  opacity: 1;
}
@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  flex-direction: column;
  padding: 1.75rem 1.875rem;
}
footer .footerContent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 4.5rem;
  padding: 3.25rem 3.75rem 3.125rem 3.75rem;
}
footer .footerContent__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 28.125rem;
}
footer .footerContent__desc img {
  width: 7.5rem;
  height: 8.375rem;
}
footer .footerContent__desc p {
  color: #e0e0e0;
  font-size: 1.25rem;
  font-family: poppinsMedium;
  text-align: center;
}
footer .footerContent__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
footer .footerContent__socials .icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
}
footer .footerContent__socials .icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #f8f8f8;
  border-radius: 50%;
  transition: border-color 0.3s;
}
footer .footerContent__socials .icon a:hover, footer .footerContent__socials .icon a:focus, footer .footerContent__socials .icon a:active {
  border: 2px solid #b71933;
  outline: none;
  outline: 1px solid #b71933;
  outline-offset: 2px;
}
footer .footerContent__socials .icon a:hover path, footer .footerContent__socials .icon a:focus path {
  fill: #b71933;
}
footer .footerContent__socials .icon a svg {
  width: 100%;
  height: 100%;
}
footer .footerContent__socials .icon a#groupme:hover path:nth-child(2), footer .footerContent__socials .icon a#groupme:hover path:nth-child(3), footer .footerContent__socials .icon a#groupme:focus path:nth-child(2), footer .footerContent__socials .icon a#groupme:focus path:nth-child(3) {
  fill: #1e1e1e;
}
footer .footerContent__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
footer .footerContent__contact p {
  font-size: 1.25rem;
  font-family: poppinsMedium;
  color: #e0e0e0;
}
footer .copyright {
  color: #f8f8f8;
  font-size: 1rem;
  font-family: poppinsRegular;
}
footer .visually-hidden {
  display: none;
}
@media (min-width: 768px) {
  footer .footerContent {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: clamp(3.4375rem, 10.5vw, 23.75rem);
  }
  footer .footerContent__desc {
    gap: clamp(0.625rem, 0.6vw, 1.6875rem);
    width: clamp(14.375rem, 17vw, 25rem);
  }
  footer .footerContent__desc img {
    width: clamp(3rem, 3vw, 5.5rem);
    height: clamp(3rem, 3.3vw, 6.125rem);
  }
  footer .footerContent__desc p {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
  }
  footer .footerContent__socials .icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  footer .footerContent__contact {
    gap: clamp(0.625rem, 0.6vw, 1.6875rem);
  }
  footer .footerContent__contact p {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
  }
  footer .copyright {
    font-size: 0.875rem;
  }
}

.button {
  color: #ffffff;
  padding: 1.375rem 3.75rem;
  border: none;
  border-radius: 999px;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-family: poppinsSemiBold;
  letter-spacing: 0.13em;
  cursor: pointer;
  text-decoration: none;
}

.button--red {
  background-color: #b71933;
}
.button--red:active, .button--red:focus, .button--red:hover {
  background-color: #a6172e;
}

.button--purple {
  background-color: #6a0dad;
}
.button--purple:active, .button--purple:focus, .button--purple:hover {
  background-color: #5a0a98;
}

.program__card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 3px #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.625rem;
  cursor: pointer;
}
.program__card .card__status {
  font-size: 0.875rem;
  font-family: poppinsSemiBold;
  letter-spacing: 0.1em;
  margin: 1.875rem 0 1.25rem 0;
}
.program__card .card__status.upcoming {
  color: #ffa500;
}
.program__card .card__status.completed {
  color: #6c757d;
}
.program__card .card__image {
  width: 11.25rem;
  height: 7.5rem;
  border-radius: 0.625rem;
  object-fit: cover;
  background-color: green;
  margin-bottom: 1.875rem;
}
.program__card .card__title {
  font-size: 1.25rem;
  font-family: poppinsBold;
  margin-bottom: 0.625rem;
}
.program__card .card__organizer {
  font-size: 1rem;
  font-family: poppinsRegular;
  margin-bottom: 0.3125rem;
}
.program__card .card__meta {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 1.6875rem;
}
.program__card .card__meta p {
  font-size: 1rem;
  font-family: poppinsRegular;
}
.program__card .card__meta .card__location__container {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.program__card .card__meta .card__location__container path {
  fill: #000000;
}
.program__card .card__time {
  font-size: 16px;
  font-family: PoppinsRegular;
  margin-bottom: 33px;
}
.program__card .card__description {
  display: none;
}

.program__card--workshops {
  border-left: 1px solid #b71933;
}

.program__card--events {
  border-left: 1px solid #6a0dad;
}

.officer__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #fafafa;
  width: 16.25rem;
  height: 16.4375rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0.375rem 0.25rem 0.1875rem #bfbfbf;
  border-radius: 0.75rem;
}
.officer__card .officer__image {
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
  object-fit: cover;
}
.officer__card .officer__name {
  font-size: clamp(1rem, 1.3vw, 1.25rem);
  font-family: poppinsSemiBold;
  color: #000000;
}
.officer__card .officer__position {
  color: #e63946;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
  font-family: poppinsMedium;
}
@media (min-width: 1024px) {
  .officer__card {
    width: 18.75rem;
    height: 20.375rem;
  }
  .officer__card img {
    width: 9.375rem;
    height: 9.375rem;
  }
}

.program__modal {
  display: none;
  width: clamp(31.563rem, 50vw, 43.75rem);
  height: auto;
  max-height: 46.25rem;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.program__modal article {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5625rem clamp(3.375rem, 5vw, 4.6875rem);
}
.program__modal article .modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6875rem;
}
.program__modal article .modal__header .modal__organizer {
  font-size: 1.25rem;
  font-family: poppinsBold;
  letter-spacing: 0.05em;
}
.program__modal article .modal__image {
  width: 100%;
  height: 15.625rem;
  border-radius: 1.125rem;
  object-fit: cover;
  background-color: green;
  margin-bottom: 1.5625rem;
}
.program__modal article .modal__hero {
  display: flex;
  align-items: center;
  gap: 7.25rem;
  margin-bottom: 2.125rem;
}
.program__modal article .modal__hero .modal__title {
  font-size: clamp(1.375rem, 4vw, 1.5rem);
  font-family: poppinsBold;
}
.program__modal article .modal__hero .modal__status {
  font-size: 1rem;
  font-family: poppinsRegular;
}
.program__modal article .modal__hero .upcoming {
  color: #ffa500;
}
.program__modal article .modal__hero .completed {
  color: #6c757d;
}
.program__modal article .modal__meta {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2.375rem;
}
.program__modal article .modal__meta p {
  font-size: 1rem;
  font-family: poppinsMedium;
}
.program__modal article .modal__meta .modal__location__container {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.program__modal article .modal__meta .modal__location__container path {
  color: #6a0dad;
}
.program__modal article .modal__desc {
  max-height: 13.75rem;
  font-size: 1rem;
  font-family: poppinsRegular;
  line-height: 1.6;
  margin-bottom: 1.1875rem;
  text-align: start;
}
.program__modal .modal__workshops {
  border-left: 0.125rem solid #b71933;
}
.program__modal .modal__events {
  border-left: 0.125rem solid #6a0dad;
}

.program__modal--active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 70%;
  visibility: hidden;
  pointer-events: all;
}

.overlay--active {
  visibility: visible;
}

.home .hero {
  position: relative;
  background-image: url("https://res.cloudinary.com/dvcpaters/image/upload/background-img_tkofwa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.home .hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0rem;
  position: relative;
  z-index: 2;
}
.home .hero__content h1 {
  color: #ffffff;
  margin-bottom: 1.25rem;
}
.home .hero__content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.31rem;
  color: #e0e0e0;
  font-size: clamp(1.375rem, 2vw, 1.75rem);
  font-family: poppinsSemiBold;
  width: clamp(25rem, 45vw, 59.375rem);
  margin-bottom: 2.5rem;
}
.home .hero__content p span {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  font-family: poppinsRegular;
}
.home .programs__topdiv {
  margin-top: clamp(1.875rem, 2.5vw, 3.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(1.875rem, 2.5vw, 6.25rem);
}
@media (min-width: 1024px) {
  .home .programs__topdiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.home .programs__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.home .programs__title {
  font-size: clamp(1.75rem, 3vw, 2rem);
  font-family: poppinsBold;
}
.home .programs__title--workshops {
  color: #b71933;
}
.home .programs__title--events {
  color: #6a0dad;
}
.home .programs__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .home .programs__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home .officers {
  margin-bottom: clamp(1.875rem, 5vw, 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.home .officers__title {
  margin-bottom: 1.25rem;
}
.home .officers__desc {
  margin-bottom: 1.875rem;
}
.home .officers__container {
  display: grid;
  gap: 2.1875rem;
  margin: 6.25rem 0 1.875rem 0;
}
@media (min-width: 768px) {
  .home .officers__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.375rem;
    grid-template-areas: "p p" "e i";
    place-items: center;
  }
  .home .officers__container .officer__card.P {
    grid-area: p;
  }
  .home .officers__container .officer__card.E {
    grid-area: e;
  }
  .home .officers__container .officer__card.I {
    grid-area: i;
  }
}
@media (min-width: 1024px) {
  .home .officers__container {
    gap: 90px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "e p i";
    align-items: end; /* so we can offset P */
  }
  .home .officers__container .officer__card.P {
    transform: translateY(-5.625rem); /* raise center card */
  }
}

.program .hero {
  margin: 3.75rem 0 2.375rem 0;
}
.program .tabs {
  width: 100%;
  border-bottom: 0.125rem solid #d9d9d9;
  margin-bottom: 4.688rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
.program .tabs__button {
  width: clamp(18.75rem, 30vw, 37.5rem);
  padding: clamp(1rem, 2.5vh, 2.25rem) 0;
  min-height: 6.875rem;
  background: none;
  border: none;
  outline: none;
  color: #6c757d;
  font-size: clamp(1.5rem, 3vw, 2.75rem);
  font-family: poppinsBold;
  letter-spacing: 0.16em;
  cursor: pointer;
}
.program .tabs__workshops:hover {
  border-bottom: 0.25rem solid #b71933;
  color: #b71933;
}
.program .tabs__events:hover {
  border-bottom: 0.25rem solid #6a0dad;
  color: #6a0dad;
}
.program .tabs__workshops--active {
  border-bottom: 0.25rem solid #b71933;
  color: #b71933;
}
.program .tabs__events--active {
  border-bottom: 0.25rem solid #6a0dad;
  color: #6a0dad;
}
.program .programs__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4.875rem;
}
.program .programs__container h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}
.program .programs__container .programs__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.875rem, 5vw, 4.375rem);
}
@media (min-width: 768px) {
  .program .programs__container .programs__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .program .programs__container .programs__content {
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.875rem, 3vw, 4.375rem);
  }
}
.program .programs__container .seemorebutton {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-family: poppinsSemiBold;
  letter-spacing: 0.13em;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}
.program .programs__container .seemorebutton--workshops {
  color: #b71933;
}
.program .programs__container .seemorebutton--events {
  color: #6a0dad;
}
.program .programs__container .hidden-card {
  display: none !important;
}

.officers {
  margin: 3.75rem;
  gap: 6.25rem;
}
.officers__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.officers__senior {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 1024px) {
  .officers__senior {
    gap: 5rem;
  }
}
.officers__senior--vice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .officers__senior--vice {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .officers__senior--vice {
    gap: 5rem;
  }
}
.officers__senior--board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .officers__senior--board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .officers__senior--board {
    gap: 5rem;
  }
}
.officers__member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .officers__member {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .officers__member {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
}

.join {
  margin: 3.75rem;
  gap: clamp(1.875rem, 3vw, 3.125rem);
}
.join h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
.join__member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.9375rem;
}
.join__member p {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  width: clamp(30.625rem, 40vw, 50rem);
  text-align: center;
  color: #333333;
  margin-bottom: 0.625rem;
}
.join__member .member__link {
  margin-top: 0.625rem;
  color: #b71933;
  text-decoration: none;
  font-family: poppinsSemiBold;
  font-size: clamp(1rem, 2vw, 1.375rem);
}
.join__member .member__link:active, .join__member .member__link:focus, .join__member .member__link:hover {
  color: #8a1326;
}
.join__secondary p {
  font-size: clamp(1rem, 2vw, 1.375rem);
  margin-top: 0.9375rem;
}
.join__secondary p a {
  font-family: poppinsSemiBold;
  text-decoration: none;
  color: #b71933;
  cursor: pointer;
}
.join__secondary p a:active, .join__secondary p a:focus, .join__secondary p a:hover {
  color: #8a1326;
}/*# sourceMappingURL=main.css.map */